a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style-type: none;
    cursor: pointer;
}

.main-menu {
    border: 1px solid #cccccc;
    width: 90%;
    margin: 0 auto;
    padding: 10px 40px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

.main-menu li {
    width: 33.3%;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    background-color: #dddddd;
}

.main-menu > li > a {
    width: 100%;
    height: 100%;
    display: block;
    padding: 10px;
}

.main-menu li:hover {
    background-color: #aaaaaa;
}

.main-menu li.selected {
    background-color: #444444;
    color: #ffffff !important;
}

.main-menu li:first-child {
    border-radius: 10px 0 0 10px;
}

.main-menu li:last-child {
    border-radius: 0 10px 10px 0;
}

.container {
    border: 1px solid #cccccc;
    width: 90%;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 10px;
}

.nav-tabs-menu {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    text-align: center;
}

.nav-tabs-menu li {
    background-color: #cccccc;
    width: 100%;
    background-clip: border-box;
    padding: 10px 0;
    border-bottom: 1px solid #cccccc;
}

.nav-tabs-menu li.selected {
    background-color: #ffffff;
    border: none;
}

.nav-tabs-menu li:first-child {
    border-radius: 10px 0 0 0;
}

.nav-tabs-menu li:last-child {
    border-radius: 0 10px 0 0;
}

.simple-menu li.selected {
    color: red;
}